* {
    box-sizing: border-box;
}

html, body {

    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}
body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

main {
    margin-bottom: 84px;
}
footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}
.navigation>a{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: black;
    
}
a{
    color: rgb(68, 68, 68);
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    
}
a:hover{
    color: black;
    text-decoration: underline;
}
.link-section{

    display: flex;
    gap: 20px;
}

.navigation{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    justify-content: space-between;
}

a.active-link{
    font-weight: 700;
    color: black;
}
.personal-vans{
    margin: 0px 20px;
}
.personal-van {
    border-radius: 2px;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.87);
    margin-bottom: 20px;
    
}

.personal-van img{
    height: 80px;
    border-radius: 5px;
}
.information h2{
    margin: 0px ;
}

.personal-vans a{
    text-decoration: none;
}
.personal-van-description{
    background-color: rgba(255, 255, 255, 0.87);
    margin: 40px 20px;
    padding: 20px;
    border-radius: 5px;
    
}
.personal-van-description-content{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.personal-van-description-content img{
    height: 150px;
    border-radius: 5px;

    
}
.personal-van-description-info i{
    margin-bottom: 10px;
}
.personal-van-description-info h2{
    margin: 20px 0px 10px;
}
.personal-van-description-info span{
    font-size: 18px;
    font-weight: bold;

}

.host-van-detail-nav{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.host-vans-information-detail {
    font-size: 12px;
}
.host-vans-information-detail span{
    font-weight: 700;
}


